<%- include('partials/header') %>


<div class=" text-center mt-5 pt-5">
  <div class="container">
    <img class="mb-4" src="img/note.PNG" alt="Notes" width="100"
        height="100">
    <h1 class="display-3">To Do List</h1>
    <p class="lead">Get focused and organized with to-do list!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register"  role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    <br>

    <!-- <iframe id='if' name="if" height="400" width="400"></iframe>
    <button onclick="myfunction()">change</button> -->

  </div>
</div>

<%- include('partials/footer') %>